name: Build and Push Docker Image

on:
  workflow_run:
    workflows: [Python application]
    types: [completed]

jobs:
  buildPush:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps: 

      - name: Get Repo
        uses: actions/checkout@v4

      - name: Pull Ubuntu:jammy image from docker
        run: docker pull ubuntu:jammy
        
      - name: Login to Docker Hub
        if: steps.dockerBuild.outcome == 'success'
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_TOKEN}}

      - name: build and push image to dockerhub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: nwlarson/cs333_uno:latest
      
